# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
assignment_1_q3
test
assignment_1_functions
assignment_1_q5
ass
test.c
.vscode
assignment_2/functions
heateq_outparams
out.txt
assignment_3/assign3
assignment_3/assign3
out.txt
assignment_3/plotbitches.m
assignment_3/original.c
.DS_Store
